
<button (click)="getAllUser()">Get user list</button>
<div *ngIf="usersInfor">
        <h2>My User List</h2>
        <ul class>
          <li *ngFor="let userInfor of usersInfor">
            <span >user Id: {{userInfor.ID}}  </span><br>
            <button (click)="getUserByID(userInfor.ID)">Get User Detail</button>
          </li>
        </ul>
</div>

<br>
<!-- <button (click)="getUserByID(2)">Detail user 2</button> -->

<div *ngIf ="userDetail">
    <h2>User {{userDetail.ID}} detail</h2>
        
    <h3>User ID: {{userDetail.ID}}</h3>
     <h3>User Name: {{userDetail.Name}}</h3>
</div>

<div>
   <form [formGroup]="userInputForm" (ngSubmit)="createNewUser()">
    <table>
      <!-- <tr>
        <td >UserID</td><input formControlName ="UserID" disabled="disabled">
      </tr> -->
      <tr>
        <td>Enter User Name</td><input formControlName ="UserName" required minlength="5">
      </tr>
      <tr>
        <td>Enter password</td><input type="password"formControlName = "UserPassword" required minlength="5">
      </tr>
      <tr>
        <td>
          <button>Create</button>
        </td>
      </tr>
    </table>
  </form>
</div>